/*common*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a{
	text-decoration: none;
}

.container{
	max-width: 1240px;
	margin: auto;
}

.clr::after{
	content: '';
	display: block;
	clear: both;
}
.clr-top::before{
	content: '';
}

.strong{
	font-weight: bold;
}

/*end common*/


body{
	 background-color: pink;
}

/*header*/

header{
	margin-top: 10px;
	margin-bottom: 5%;
}

.top{
	display: block;
	margin-bottom: 10px;
}
.home-page{
	display: inline;
}
.home-page a img, .home-page a div, .contract{
	display: inline;
	float: left;
}
.home-page a div{
	margin-top: 15px;
	margin-left: 15px;
	text-align: center;
}
.contract{
	display: inline;
	float: right;
	margin-top: 20px;
}
.contract *{
	float: left;
	margin-left: 5px;
}
.contract div{
	margin-top:5px; 
}
.contract div a{
	color: #62c6f8;
}

.menu{
	border-top: 1px solid #e9e9e9;
	border-bottom: 1px solid #e9e9e9;
	font-size: 13px;
}
.menu nav ul{
	display: inline;
	float: left;
	padding: 20px 2% 20px 2%;
	border-right: 1px solid #e9e9e9;
}
.menu .social{
	/*width: 9%;*/
	float: right;
	margin-right: 0px;
	padding: 15px 0px 0px 0px;
	border: 0px;
	margin-left: 0px;
}
.menu .social a{
	right: 0px;
}
.menu .social a:first-child{
	margin-left: 0px;
}
.menu::after{
	content: '';
	display: table;
	clear: both;
}

.banner{
	background: url("../images/pannel.jpg") no-repeat;
}

.banner span{
	line-height: 158px;
}


/*end header*/

/*main*/

.group{
	background-color: #d9e4e9;
	height: 50px;
	padding: 15px 15px 15px 15px;
	margin: 10px 5px 10px 5px;
}
.group-first{
	margin-top: 0px;
}
.group ul{
	float: left;
}
.group span{
	float: right;
}
.group-list{
	font-size: 14px;
	padding-left: 40px;
	line-height: 25px;
}
.group-form{
	margin-top: 40px;
	font-weight: bold;
	height: 265px;
}
.group-form .line{
	width: 50px;
	height: 1px;
	background-color: #62c6f8;
	clear: left;
	margin-top: 27px;
	margin-bottom: 15px;
}
.group-form div input{
	height: 30px;
	padding-left: 10px;
	margin-bottom: 10px;
	width: 100%;
}
.group-form > input{
	background-color: #4ac74a;
	padding: 10px 10px 10px 10px;
	color: white;
	font-weight: bold;
	border: none;
	margin-left: calc(50% - 40px);
}













.sidebar-left{
	width: 24%;
	height: 100%;
	display: inline;
	float: left;
}

.new-item{
	width: 76%;
	float: right;
}
.new ul{
	list-style-type: none;
}
.item{
	width: 31%;
	display: inline;
	float: left;
	margin-left: 2.3333%;
	margin-bottom: 2.3333%;
	border: 1px solid #e9e9e9;
	position: relative;
}
.item a img{
	width: 100%;
	height: 100%;
}
.item:nth-child(3n+1){
	clear: left;
}
.item a div:last-child{
	height: 15px;
	width: 15px;
	background-color: #62c6f8;
	position: absolute;
	right: 0px;
	bottom: 0px;
	padding: 0px 2px 2px 2px;
}
.item a div img{
	height: 10px;
	width: 10px;
}
.new{
	padding: 7% 7% 7% 7%;
	font-size: 14px;
}
.new *{
	padding-bottom: 5%;
}

/*end main*/


/*footer*/

footer{
	background-color: #62c6f8;
}
footer *{
	color: white;
}
footer > div{
	padding-top: 30px;
	padding-bottom: 40px;
}
footer div nav{
	width: 33.33%;
}
footer div nav ul li{
	margin-top: 5%;
	font-size: 13px;
}
footer div .link{
	margin-left: 17px;
}
footer .info{
	float: left;
}
footer .social{
	float: right;
}
footer .social ul li{
	list-style-type: none;
	margin-top: 3%;
}
footer .social img{
	vertical-align: middle;
}

.license{
	border-top: 1px solid #e9e9e9;
}
.license .container div:first-child{
	float: left;
}
.license .container div:last-child{
	float: right;
}

/*end footer*/







@media screen and (max-width: 901px){
	.menu nav ul{
		padding-left: 1%;
		padding-right: 1%;
	}
}

@media screen and (max-width: 780px){
	body{
		width: 765px;
	}
}









.box{
	width: 200px;
	box-shadow: ;
	list-style-type: ;
}